@use '../../../styles/variables.scss' as v;
@use '../../../styles/mixins.scss' as m;
@use '../../../styles/functions.scss' as f;

.blog {
  background: url('../../../images/line1.png')right -7764px no-repeat, url('../../../images/line2.png')left -7764px no-repeat, #0C0B08;

}

.container {
  margin-block: f.rem(152);
  @include m.adaptiv-value('margin-inline', 190, -190, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: f.rem(64);
  position: relative;

  @include m.netbook {
    margin-inline: 0px;
  }
}

.bgIcon {
  position: absolute;
  width: 146px;
  height: 146px;
  background: url('../../../images/icon.png') center center/cover no-repeat;
  bottom: -29px;
  @include m.adaptiv-value('right', -190, 190, 1);
  z-index: 10;

  @media screen and (min-width:1920px) {
    right: -236px;
  }

  @include m.laptop {
    bottom: -29px;
    right: 0px;
  }

  @include m.netbook {
    bottom: -129px;
  }

  @include m.phone {
    width: 106px;
    height: 106px;
    bottom: -129px;
  }
}

.cardsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: f.rem(32);

  @include m.laptop {
    grid-template-columns: 1fr;
    row-gap: f.rem(32);
  }

  @include m.netbook {
    row-gap: f.rem(96);
  }
}

.cardItem {
  display: flex;
  flex-direction: column;
  row-gap: f.rem(24);

  @include m.laptop {
    flex-direction: row;
    column-gap: f.rem(24);
  }

  @include m.netbook {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.itemImg {
  max-height: 430px;
  flex: 0 0 430px;

  @include m.netbook {
    width: 80vw;
    height: 80vw;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.itemContent {
  display: flex;
  flex-direction: column;
  row-gap: f.rem(32);

  @include m.netbook {
    max-width: 80vw;
  }
}

.itemPublication {
  display: flex;
  justify-content: space-between;
}

.publicationData,
.publicationAuthor {
  line-height: f.ratio(16, 28);
  color: v.$fa;
}

.itemTitle {
  h5 {
    font-size: f.rem(32);
    line-height: f.ratio(32, 41.6);
    color: v.$gold;
    text-transform: capitalize;
    position: relative;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 7px;
    }
  }

}

.itemText {
  @include m.laptop {
    flex: 1 0 auto;
  }

  p {
    line-height: f.ratio(16, 28);
  }
}

.itemLink {
  a {
    font-family: v.$Cormorant;
    font-weight: 700;
    line-height: f.ratio(16, 28);
    color: v.$gold;
    position: relative;

    &::after {
      display: block;
      content: '';
      height: 1px;
      width: 0;
      background-color: v.$gold;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all 0.3s;
    }

    &:hover::after {
      width: 100%;
    }
  }
}