@use '../../../styles/variables.scss' as v;
@use '../../../styles/mixins.scss' as m;
@use '../../../styles/functions.scss' as f;

.happyHours {
  position: relative;
}

.happyHoursSwiper {
  max-height: 900px;
  height: f.vw(900, 1920);
  min-height: 450px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.title {
  font-weight: 600;
  font-size: 128px;
  line-height: f.ratio(128, 166.4);
  color: v.$gold;
  text-align: center;

  @include m.laptop {
    font-size: 100px;
    line-height: f.ratio(100, 145.4);
  }

  @include m.netbook {
    font-size: 70px;
    line-height: f.ratio(70, 115.4);
  }

  @include m.phone {
    font-size: 40px;
    line-height: f.ratio(40, 75.4);
  }

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.text {
  text-align: center;
  font-family: v.$Cormorant;
  font-weight: 700;
  font-size: 32px;
  line-height: f.ratio(32, 41.6);
  color: v.$white;

  @include m.netbook {
    font-size: 26px;
    line-height: f.ratio(26, 38);
  }
}