@use '../../styles/variables.scss' as v;
@use '../../styles/mixins.scss' as m;
@use '../../styles/functions.scss' as f;

.button {
  padding: 0.5rem 2rem;
  background: v.$gold;
  cursor: pointer;
  font-family: v.$Cormorant;
  font-weight: 700;
  line-height: f.ratio(16, 28);
  letter-spacing: 0.04em;
  color: v.$black;
  transition: background-color, 0.5s;

  &:hover {
    background: #e2c768b4;
  }
}

// .container {}