@use '../../../styles/variables' as v;
@use '../../../styles/mixins.scss' as m;
@use '../../../styles/functions.scss' as f;

.hero {
  padding-block: f.rem(48) f.rem(152);
  background: url('../../../images/line1.png')right -8.5% no-repeat, #0C0B08;
}

.container {
  min-height: 828px;
  display: flex;

  @include m.netbook {
    flex-direction: column;
  }
}

.contant {
  flex: 0 1 50%;
  padding-block: f.rem(127);
  @include m.adaptiv-value('padding-left', 180, -50, 1);
  @include m.adaptiv-value('padding-right', 190, -50, 1);


  @include m.laptop {
    padding-block: f.rem(80);
    @include m.adaptiv-value('padding-left', 140, -50, 1);
    @include m.adaptiv-value('padding-right', 150, -50, 1);
  }
}

.logo {
  margin-bottom: f.rem(8);
}

.logoText {
  font-family: v.$Cormorant;
  font-weight: 700;
  color: v.$white;
  font-size: f.rem(23);
  line-height: f.ratio(23, 29.9);
  letter-spacing: 0.04em;
  text-transform: capitalize;

  &:not(:last-child) {
    margin-bottom: f.rem(8);
  }
}

.logoImg {
  width: 40px;
  height: 10px;

  img {
    max-width: 100;
    object-fit: contain;
  }
}

.title {
  font-family: v.$Cormorant;
  font-weight: 700;
  font-size: f.rem(90);
  line-height: f.ratio(90, 113);
  color: v.$gold;
  letter-spacing: 0.04em;
  text-transform: capitalize;

  @include m.laptop {
    font-size: f.rem(80);
    line-height: f.ratio(80, 103);
  }

  @include m.phone {
    font-size: f.rem(50);
    line-height: f.ratio(50, 73);
  }

  &:not(:last-child) {
    margin-bottom: f.rem(32);
  }
}

.text {
  color: v.$grey;
  line-height: f.ratio(16, 28);
  letter-spacing: 0.04em;

  &:not(:last-child) {
    margin-bottom: f.rem(32);
  }
}

.slider {
  max-height: 736px + 92px;
  position: relative;
  padding-bottom: f.rem(92) !important;

  &::after,
  &::before {
    content: '';
    width: 435px;
    height: 435px;
    background: v.$gold;
    position: absolute;
    z-index: 0;
  }

  &::after {
    left: 184px;
    top: 0;
    z-index: -1;
  }

  &::before {
    right: 184px;
    bottom: 90px;
  }
}

.slide {
  max-width: 619px;
  padding: f.rem(24);
  position: relative;
  transform: translateX(10px);

  @media screen and (max-width:680px) {
    padding-inline: f.rem(0);
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.sliderWrapper {
  flex: 0 1 50%;
  display: grid;
  align-items: center;
  justify-content: start;
  position: relative;

  @include m.netbook {
    place-content: center;
  }

  @include m.phone {
    display: none;
  }
}

.scroll {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: v.$Cormorant;
  font-weight: 700;
  color: v.$gold;
  letter-spacing: 0.04em;
  line-height: f.ratio(16, 24);
  text-transform: uppercase;

  &::after {
    content: '';
    background: linear-gradient(270deg, #DCCA87 -19.44%, #DCCA87 44.12%, rgba(220, 202, 135, 0.24) 117.57%);
    width: 61px;
    height: 1px;
    position: absolute;
    top: -50px;
    left: 0;
    transform: rotate(-90deg);
  }
}