@use '../../../styles/variables' as v;
@use '../../../styles/mixins.scss' as m;
@use '../../../styles/functions.scss' as f;

.hero {
  padding-block: 48px 152px;
  background: url('../../../images/line1.png')right -8.5% no-repeat, #0C0B08;

  @include m.phone {
    padding-block: 48px;
    // text-align: center;
  }
}

.container {
  min-height: 828px;
  display: flex;

  @include m.netbook {
    flex-direction: column;
  }

  @include m.phone {
    min-height: initial;
  }
}

.contant {
  flex: 0 1 50%;
  padding-block: 127px;
  @include m.adaptiv-value('padding-left', 180, -50, 1);
  @include m.adaptiv-value('padding-right', 190, -50, 1);


  @include m.laptop {
    padding-block: 80px;
    @include m.adaptiv-value('padding-left', 140, -50, 1);
    @include m.adaptiv-value('padding-right', 150, -50, 1);
  }
}

.logo {
  margin-bottom: 8px;
}

.logoText {
  font-family: v.$Cormorant;
  font-weight: 700;
  color: v.$white;
  font-size: 23px;
  line-height: f.ratio(23, 29.9);
  letter-spacing: 0.04em;
  text-transform: capitalize;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.logoImg {
  width: 40px;
  height: 10px;

  img {
    max-width: 100;
    object-fit: contain;
  }
}

.title {
  font-family: v.$Cormorant;
  font-weight: 700;
  font-size: 90px;
  line-height: f.ratio(90, 113);
  color: v.$gold;
  letter-spacing: 0.04em;
  text-transform: capitalize;

  @include m.laptop {
    font-size: 80px;
    line-height: f.ratio(80, 103);
  }

  @include m.phone {
    font-size: 50px;
    line-height: f.ratio(50, 73);
  }

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.text {
  color: v.$grey;
  line-height: f.ratio(16, 28);
  letter-spacing: 0.04em;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.scroll {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: v.$Cormorant;
  font-weight: 700;
  color: v.$gold;
  letter-spacing: 0.04em;
  line-height: f.ratio(16, 24);
  text-transform: uppercase;

  &::after {
    content: '';
    background: linear-gradient(270deg, #DCCA87 -19.44%, #DCCA87 44.12%, rgba(220, 202, 135, 0.24) 117.57%);
    width: 61px;
    height: 1px;
    position: absolute;
    top: -50px;
    left: 0;
    transform: rotate(-90deg);
  }
}