@use '../../../styles/variables.scss' as v;
@use '../../../styles/mixins.scss' as m;
@use '../../../styles/functions.scss' as f;

.chefsWord {
  background: url('../../../images/ChefsWord/BG.jpg')center/cover no-repeat;
}

.container {
  margin-block: 128px;
  @include m.adaptiv-value('margin-inline', 190, -190, 1);
  display: flex;
  flex-direction: row-reverse;
  column-gap: 111px;
  align-items: center;
  overflow: hidden;

  @include m.laptop {
    flex-direction: column-reverse;
    align-items: center;
    margin-inline: 0px;
  }
}

.image {
  height: 691px;
  max-width: 555px;
  flex: 0 0 555px;
  padding-left: 72px;
  position: relative;

  @include m.laptop {
    max-height: 691px;
    max-width: 555px;
    height: 80vw;
    width: 80vw;
    flex: 0 0 auto;
  }
}

.chefsWordSlider {
  height: 100%;
  max-width: 483px;
}

.contant {
  flex: 0 1 64%;
  margin-block: 119px;
}

.ChefsWordTitle {
  text-align: start;

  div {
    margin-inline: 0px;
  }
}

.awardsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 32px;
  row-gap: 64px;

  @include m.netbook {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 32px;
    row-gap: 32px;
  }
}

.awardItem {
  display: flex;
  column-gap: 32px;
  align-items: center;
}

.itemContent {
  padding-right: 10px;
}

.itemImg {
  flex: 0 0 79px;
  height: 79px;

  @include m.phone {
    flex: 0 0 59px;
    height: 59px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.itemTitle {
  font-weight: 700;
  font-family: v.$Cormorant;
  font-size: 23px;
  line-height: f.ratio(23, 29.9);
  color: v.$gold;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.itemText {
  line-height: f.ratio(16, 28);
}