@use '../../../styles/variables.scss' as v;
@use '../../../styles/mixins.scss' as m;
@use '../../../styles/functions.scss' as f;

.about {
  background: #0C0C0C;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  position: relative;
  margin-block: 196px 152px;
  @include m.adaptiv-value('margin-inline', 275, 0, 1);

  @include m.netbook {
    margin-inline: 0;
  }

  @include m.phone {
    margin-block: 56px 152px;
  }
}

.bgIcon {
  position: absolute;
  width: 146px;
  height: 146px;
  background: url('../../../images/icon.png') center center / cover no-repeat;
  @include m.adaptiv-value('right', -200, 0, 1);
  bottom: -150px;

  @include m.netbook {
    right: 0;
  }

  @include m.phone {
    width: 106px;
    height: 106px;
  }
}

.title,
.text {
  text-align: center;
}

.text {
  max-width: 868px;
  line-height: f.ratio(16, 28);
}

.buttons {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;

  @include m.phone {
    flex-direction: column;
  }
}

.aboutBtn {
  background-color: transparent;
  border: 1px solid v.$gold;

  a {
    color: v.$white;
  }
}