@use '../../../styles/variables.scss' as v;
@use '../../../styles/mixins.scss' as m;
@use '../../../styles/functions.scss' as f;

.reservation {
  padding-block: f.rem(170) f.rem(152);
  @include m.adaptiv-value('padding-inline', 158, 50, 1);
  background: url('../../../images/line2.png')left -595px no-repeat, url('../../../images/line1.png')right -1059px no-repeat, #0C0B08;

  @include m.tablet {
    padding-inline: f.rem(50);
  }

  @include m.phone {
    padding-inline: f.rem(20);
  }
}

.container {
  background: #0C0C0C;
  border: 1px solid rgba(220, 202, 135, 0.2);
  box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
  padding: f.rem(48) f.rem(32);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.bgIcon {
  position: absolute;
  width: 146px;
  height: 146px;
  background: url('../../../images/icon.png') center center/cover no-repeat;
  right: -126px;
  top: -176px;

  @media screen and (max-width:1080px) {
    right: -86px;
  }

  @include m.tablet {
    right: -45px;
  }

  @include m.phone {
    width: 106px;
    height: 106px;
    top: -126px;
    right: -25px;
  }
}

.dialogBox {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: f.rem(64);
  }
}

.dialogForm {
  display: grid;
  column-gap: f.rem(32);
  grid-template-columns: repeat(3, 1fr);

  @include m.netbook {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: f.rem(20);
  }
}

.text,
.date,
.time {
  height: 60px;
  border: 1px solid #F5EFDB;
  background: url('../../../images/Reservation/Vector.png') 96% center no-repeat, transparent;
  letter-spacing: 0.04em;
  color: v.$grey;
  line-height: f.ratio(16, 28);
  font-family: v.$Cormorant;
  font-weight: 600;
  padding-inline: f.rem(16);

}

.text::placeholder {
  letter-spacing: 0.04em;
  color: v.$grey;
  line-height: f.ratio(16, 28);
  font-family: v.$Cormorant;
  font-weight: 600;
}