@use '../../../styles/variables.scss' as v;
@use '../../../styles/mixins.scss' as m;
@use '../../../styles/functions.scss' as f;

.menu {
  max-height: 932px;
  justify-content: flex-start;
  background: #0C0B08;

  @include m.phone {
    max-height: 632px;
  }
}

.container {
  max-height: 100%;
  position: relative;
}

.bgIcon {
  position: absolute;
  width: 146px;
  height: 146px;
  background: url('../../../images/icon.png') center center/cover no-repeat;
  left: 26px;
  top: -26px;
  z-index: 10;


  @include m.phone {
    width: 106px;
    height: 106px;
  }
}

.menuSwiper {
  .swiper {
    height: 100%;
    // width: 100%;
  }

  .swiper-pagination {
    position: absolute;
    left: 26px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    z-index: 10;

    @include m.phone {
      row-gap: 2rem;
    }
  }

  .swiper-pagination-bullet {
    display: flex;
    font-family: v.$Cormorant;
    font-weight: 600;
    font-size: 64px;
    line-height: f.ratio(64, 83.2);
    letter-spacing: 0.03em;
    color: v.$white;

    @include m.phone {
      font-size: 40px;
      line-height: f.ratio(40, 60);
    }
  }

  .swiper-pagination-bullet-active {
    text-decoration: underline;
    text-underline-offset: 10px;
  }
}

.wrapperImg {
  height: 932px;

  @include m.phone {
    height: 632px;
  }

  img {
    width: 99%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}