@use '../../../styles/variables.scss' as v;
@use '../../../styles/mixins.scss' as m;
@use '../../../styles/functions.scss' as f;

.about {
  min-height: 959px;
  padding-block: f.rem(128);
  @include m.adaptiv-value('padding-inline', 207, -50, 1);
  background: url('../../../images/About/img1.png') center center no-repeat, url('../../../images/About/G.png') center center no-repeat, url('../../../images/About/bg1.jpg');
  display: grid;
  place-content: center;

  @include m.tablet {
    background: url('../../../images/About/img1.png') center center/8% no-repeat, url('../../../images/About/G.png') center center no-repeat, url('../../../images/About/bg1.jpg');
  }
}

.container {
  display: flex;
  @include m.adaptiv-value('column-gap', 254, 50, 1);
  align-items: center;

  @include m.phone {
    flex-direction: column;
  }
}

.aboutUs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .title,
  .text {
    text-align: right;
  }

  .logo {
    margin-left: auto;
    transform: rotate(180deg);
  }
}

.title {
  font-weight: 600;
  font-size: f.rem(64);
  line-height: f.ratio(64, 83.2);
  letter-spacing: 0.03em;

  &:not(:last-child) {
    margin-bottom: f.rem(8);
  }

  @media screen and (max-width:600px) {
    font-size: f.rem(50);
    line-height: f.ratio(50, 78);
  }
}

.logo {
  width: 40px;
  height: 10px;

  &:not(:last-child) {
    margin-bottom: f.rem(32);
  }

  img {
    max-width: 100;
    object-fit: contain;
  }
}

.text {
  max-width: 523px;
  color: v.$grey;
  line-height: f.ratio(16, 28);
  letter-spacing: 0.04em;

  &:not(:last-child) {
    margin-bottom: f.rem(32);
  }
}